<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cedric.gautier.ced_forum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ced_Forum">
        <activity
            android:name="cedric.gautier.ced_forum.activity_main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MainActivity"
            android:theme="@style/Theme.Ced_Forum.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="model.AbonneInterface"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Ced_Forum.Fullscreen" />
        <activity
            android:name="model.ModeratorInterface"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Ced_Forum.Fullscreen">
        </activity>
    </application>

</manifest>